body {
.wrap {
  max-width: 100%;
}
  &.admin {
    header {
      section {
        height: 50px;
        .navbar-default {
          background: #000000;
          .main-logo {
            position: relative;
            bottom: 13px;
          }
          .navbar-nav {
            align-self: 100%;
            align-content: 100%;
            li {
              a {
                text-transform: uppercase;
              }
              &.active {
                a {
                  background: $add-button;
                  color: white;
                }
              }
            }
          }
        }
      }
    }
    &.admin {
      .row {
        padding-top:40px;
        padding-bottom: none;
        .container {
          margin-top: 85px;
          background-color: #ffffff;
          width: 100%;
        }
        .container_history {
          margin-top: 40px;
          padding-top: 20px;
          padding-bottom: 100%;
          background-color: #ffffff;
          width: 100%;
          .table {
            margin-top: 20px;
            width: 100%;
            background-color: #d3edfc;
            border-color: #ffffff;
            text-align-all: center;
            border: 1px;
            .time{
              border: 12px;
            }
            .name{
              border: 12px;
            }
            .action{
              border: 12px;
            }
            .phone{
              border: 12px;
            }
          }
        }
      }
        }
        .add-button {
          height: 45px;
          padding: 12px 15px;
          text-transform: uppercase;
          background: $add-button;
          color: white;
          font-weight: 600;
          border-radius: $border-radius;
          font-size: 1.188em;
          display: inline-block;
          text-decoration: none;
          border-bottom: 2px solid $add-button-hover;
          &:hover {
            background: $add-button-hover;
          }
          &:active {
            box-shadow: inset 0px 2px $add-button-active;
          }
        }
        .h4 {
          font-weight: bold;
        }
        .form {
          font-weight: bold;
        }

        .form-control {
          vertical-align: middle;
          text-align: left;
          box-shadow: none;
          padding: 6px 12px;
          border-color: 1px solid #BEBABA;
          border-width: 1px;
          padding-left: 16px;
          color: #424242;
          background-image: none;
          background: #ffffff;
          border-radius: 4px;
          margin-bottom: 2px;
          .desc{
            vertical-align: middle;
            text-align: left;

          }
        }

        .one-instance {
          margin-top: 80px;
          .body {
            border: 4pt;
            padding: 8px;
            .images{
              background-color: #f6f6f6;
              display: block;
              .col-xs-6{
                padding: 0px;
              }
              .col-xs-4{
                padding: 0px;
              }
              .col-xs-2{
                padding: 0px;
              }
            }
          }
          .head {
            background: $header-top;
            padding: 50px;
            div {
              border: 1px solid $blue-border;
            }
          }
          .glyphicon {

            font-size: 1.4em;
          }
          .each-row {
            padding: none;
            background-position: bottom;
            height: auto;
            background-color: transparent;
            &:nth-of-type(1n) {

            }
            .item {
              border: 1px solid $blue-border;
              padding: 13px 4px;
              min-height: 8px;
              &.action {
                padding-bottom: 16px;
              }
            }
          }
        }
      }

}


