body {

  &.admin {
    header {
      section {
        height: 50px;
        .navbar-default {
          background: #000000;
          .main-logo {
            position: relative;
            bottom: 13px;
          }
          .navbar-nav {
            li {
              a {
                text-transform: uppercase;
              }
              &.active{
                a{
                  background: $add-button;
                  color: white;
                }
              }
            }
          }
        }
      }
    }
      &.admin{
        .row {
          margin-bottom: 20px;
          .add-button {
            padding: 12px 15px;
            text-transform: uppercase;
            background: $add-button;
            color: white;
            font-weight: 600;
            border-radius: $border-radius;
            font-size: 1.188em;
            display: inline-block;
            text-decoration: none;
            border-bottom: 2px solid $add-button-hover;
            &:hover {
              background: $add-button-hover;
            }
            &:active{
              box-shadow: inset 0px 2px $add-button-active;
            }
          }

          .one-instance{
            padding-top: 80px;
            .head{
              background: $header-top;
              padding: 0px;
              div{
                border: 1px solid $blue-border;
              }
            }
            .col-xs-4{
              border: 3;
            }
            .each-row{
              padding: 0px;
              &:nth-of-type(2n){
                background: $footer-color;

              }
              .item{
                border: 1px solid $blue-border;
                padding: 10px 2px;
                &.action{
                  padding-bottom: 16px;
                }
              }
            }
          }
        }
      }

  }

}