body{
    .del{
      position: relative;
      top: 32px;
      display: inline-block;
      font-family: "Glyphicons Halflings";
      font-style: normal;
      font-weight: normal;
      line-height: 1;
    }

  .data-list{
    background-color: #bfe8eb;
    color: black;
    margin-bottom: 18px;
    font-size: 24px;
    margin-left: 1px;
  }
  .col-xs-1{
    text-align: center;
  }

  .wrap-admin-discount{
    background: white;



  }
}
