.steps{
  min-height: 650px;
  padding: 0px;
  .main-header{
    background: $blue;
    font-size: 2.263em;
    color: white;
    font-weight: 700;
    height: 65px;
    line-height: 60px;
    padding: 0px 65px;
  }
  .step{
    &.big-padding{
      padding: 0px 65px;
    }
  }
}