.steps{
  min-height: 650px;
  padding: 0px;
  z-index: 10;

  .container{
    background-color: hsl(207, 43%, 96%);
    margin-bottom: 0px;
    width: 980px;
    height: 100%;
  }

  .main-header{
    background: $blue;
    font-size: 2.263em;
    color: white;
    font-weight: 700;
    height: 65px;
    line-height: 60px;
    padding: 0px 65px;
    //max-width: 600px;
  }

  .step{
    margin-bottom: 0px;
    &.big-padding{
      padding: 0px 65px;
    }
    &.right{
      width: 160px;
      float: right;
    }
    &.left{
      max-width: 600px;
      float: left;
    }
  }

  .step-header {
    line-height: 32px;
    margin: 20px -65px;
    margin-left: 0px;
    margin-top: 60px;
    margin-bottom: 12px;
    padding: 0 65px;
    background: hsla(0, 0%, 0%, 0) none repeat scroll 0 0;
    color: hsl(202, 80%, 52%);
    h2 {
      font-family: "Open Sans";
      font-size: 33px;
      font-weight: bold;
      max-width: 500px;
    }
  }

  .line{
    border-bottom: 1px dashed hsl(202, 80%, 52%);
    width: 500px;
    margin-left: 65px;
  }

  .block {
    text-align: justify;
    margin-left: 65px;
    margin-top: 45px;
    cursor: pointer;
    margin-bottom: -30px;
    font-size: 14px;
    width: 500px;
    background-color: #ffffff;
    clear: both;
    content: " ";
    display: table;
    &:hover{
      background-color: $step-item-hover;
      border-bottom: medium none;
      color: #ffffff;
    }
    &:active,&:focus{
      background-color: $step-item-active;
    }

    .img {
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: -20px;
      padding-right: -20px;
      align-content: center;
      float: left;
      background-position: center center;
      background-repeat: no-repeat;
      height: 120px;
      width: 165px;
    }
    #span{
      margin-top: 1px;
    }

    .steps-text{
      align-content: justify;
      .head-text2{
        float: left;
        margin: 20px 0 10px;
        margin-top: -10px;
        border-bottom: 1px dashed hsl(202, 80%, 52%);
        color: hsl(204, 45%, 23%);
        font-weight: 900 bold;
        font-family: "Tahoma", "sans-serif";
        text-transform: uppercase;
        transition: all 0.7s ease 0s;
        box-sizing: border-box;
        max-height: 32px;

        &:hover{
          border-bottom: medium none;
          color: #ffffff;
        }

        .dashed {
          border-bottom: 1px dashed hsl(202, 80%, 52%);
          color: hsl(204, 45%, 23%);
          font-weight: 800;
          text-transform: uppercase;
          transition: all 0.1s ease 0s;
        }
        h4 {
          font-size: 16px;
          font-weight: 600;
        }
      }
      .head-text{
        float: left;
        margin: 20px 0 10px;
        margin-top: 10px;
        border-bottom: 1px dashed hsl(202, 80%, 52%);
        color: hsl(204, 45%, 23%);
        font-weight: 900 bold;
        font-family: "Tahoma", "sans-serif";
        text-transform: uppercase;
        transition: all 0.7s ease 0s;
        box-sizing: border-box;
        max-height: 32px;

        &:hover{
          border-bottom: medium none;
          color: #ffffff;
        }

        .dashed {
          border-bottom: 1px dashed hsl(202, 80%, 52%);
          color: hsl(204, 45%, 23%);
          font-weight: 800;
          text-transform: uppercase;
          transition: all 0.1s ease 0s;
        }
        h4 {
          font-size: 16px;
          font-weight: 600;
        }
      }

      .foot-text{
        color: hsl(212, 23%, 66%);
        font-family: "Open Sans";
        font-size: 14px;
        width: 330px;
        margin: 0;
        box-sizing: border-box;
        cursor: pointer;
        padding-top: -15px;
        float: left;
      }
    }
  }

  .three-container{
    margin-left: 65px;
    width: 500px;
    list-style: outside none none;
    color: hsl(205, 42%, 24%);
    margin-top: 20px;

    .blocks{
      height: 140px;
      width: 245px;
      text-align: center;
      font-family: "Tahoma", "sans-serif";
      font-weight: bold;
      margin-bottom: 10px;
      background-color: #ffffff;
      padding-top: 35px;
      cursor: pointer;
      &:hover{
        background-color: $step-item-hover;
        font-size: 20px;
      }
      &:active,&:focus{
        background-color: $step-item-active;
        color: #ffffff;
      }

      .image-blocks {
        img {
          display: block;
          margin: auto;
        }
      }

      &.text-blocks{
        border-bottom: 1px dashed hsl(202, 80%, 52%);
        color: hsl(204, 45%, 23%);
        font-weight: bold;
        text-transform: uppercase;
        transition: all 0.1s ease 0s;
        text-align: center;
      }

      &.even{
        margin-right: 10px;
      }
    }
  }

  .type{
    position: relative;
    left: -50px;
    top: 20px;
//    &.three{
//      background: url('/web/images/static/complex.png');
//    }
//    &.two{
//      background: url('/web/images/static/service-all.png');
//    }
//    &.one{
//      background: url('/web/images/static/service-ease.png');
//    }
  }
}