.steps{
  min-height: 650px;
  padding: 0px;
  z-index: 10;
  .container{
    background-color: hsl(207, 43%, 96%);
    margin-bottom: 0px;
//    none repeat scroll 0 0;
    width: 980px;
//    margin-bottom: 0px;
    height: 100%;
  }
  .main-header{
    background: $blue;
    font-size: 2.263em;
    color: white;
    font-weight: 700;
    height: 65px;
    line-height: 60px;
    padding: 0px 65px;
  }

  .step{
    margin-bottom: 0px;


    &.big-padding{
      padding: 0px 65px;
    }

    &.right{
      width: 160px;
      float: right;
    }
    &.left{
      max-width: 600px;
      float: left;
    }
  }
  .step-header {
    line-height: 32px;
    margin: 20px -65px;
    margin-left: 0px;
    margin-top: 60px;
    margin-bottom: 12px;
    padding: 0 65px;
    background: hsla(0, 0%, 0%, 0) none repeat scroll 0 0;
    color: hsl(202, 80%, 52%);


    h2 {
      font-family: "Open Sans";
      font-size: 33px;
      font-weight: bold;
    }

  }
  .line{
    border-bottom: 1px dashed hsl(202, 80%, 52%);
    width: 500px;
    margin-left: 65px;
  }
  .block {
    text-align: justify;
    margin-left: 65px;
    margin-top: 45px;
    cursor: pointer;
    margin-bottom: -30px;
    font-size: 14px;
    width: 500px;
    background-color: #ffffff;
    clear: both;
    content: " ";
    display: table;

    &:hover{
      background-color: #c5dbec;
      border-bottom: medium none;
      &:target {
        border: 2px solid #D4D4D4;
        background-color: #005a92;

      }
    }

    .img {
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: -20px;
      padding-right: -20px;
      align-content: center;
      float: left;
      background-position: center center;
      background-repeat: no-repeat;
      height: 120px;
      width: 165px;
    }
    .text-one{
      align-content: justify;
      .head-text{
        float: left;
        margin: 20px 0 10px;
        margin-top: 10px;
        border-bottom: 1px dashed hsl(202, 80%, 52%);
        color: hsl(204, 45%, 23%);
        font-weight: bold;
        text-transform: uppercase;
        transition: all 0.7s ease 0s;
        box-sizing: border-box;
        max-height: 32px;
        &:hover{
          border-bottom: medium none;
          color: #ffffff;
        }

        .dashed {
          border-bottom: 1px dashed hsl(202, 80%, 52%);
          color: hsl(204, 45%, 23%);
          font-weight: 800;
          text-transform: uppercase;
          transition: all 0.1s ease 0s;
        }

        h4 {
          font-size: 16px;
          font-weight: 600;
        }
      }
      .foot-text{
        color: hsl(212, 23%, 66%);
        font-family: "Open Sans";
        font-size: 11px;
        width: 330px;
        margin: 0;
        box-sizing: border-box;
        cursor: default;
        padding-top: -15px;
        float: left;
      }
    }

  }
  .three
//  .block .element{
//    border: solid 1px #C7CADD;
//    margin: 0px 3px 3px 0px;
//    padding: 0px 0px 0px 0px;
//    float: left;
//    height: 200px;
//    width: 150px;
//  }
//
//  .block .element:hover{
//    border: solid 1px #000;
//    margin: 0px 3px 3px 0px;
//    padding: 0;
//    float: left;
//    height: 200px;
//    width: 150px;
//    background: #FFFAE7;
//  }
//
//  .block .img{
//    text-decoration: none;
//    float: left;
//    background-position: center center;
//    background-repeat: no-repeat;
//    height: 120px;
//    width: 165px;
//    box-sizing: border-box;
//    cursor: default;
//    color: hsl(205, 42%, 24%);
//  }
//  .block .img img{
//    margin: 5px 0px 0px 5px;
//    padding: 0;
//    width: 140px;
//    height: 130px;
//  }
//
//  .block .text{
//    text-align: right;
//    padding: 0;
//    margin: 0;
//  }
}