<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
#111111111111111111111
    RewriteRule . index.php
   # AddHandler fcgid-script .php
</IfModule>
#hide index.php from url